body {
  background-color: rgba(189, 119, 27, 0.46);
}

.myForm {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid whitesmoke;
  margin-top: 10%;
  display: grid;
  justify-content: center;
  align-content: space-around;

}

form {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid whitesmoke;
  display: grid;
  grid-gap: 20px;
  
}

.myForm button {
  width: 30%;
  display: block;
  margin: 0 auto;
  height: 40px;
  align-self: center;
}